//--------------------------------------------------------------
// Forms
//--------------------------------------------------------------
textarea,
input:not( .button ) {
	@apply bg-white p-8 w-full;
	box-shadow: 0px 2px 9px rgba(80, 108, 205, 0.08);
	border-radius: 4px;
	&:hover, &:focus {
		outline: none;
	}
}

label, .input-label {
	@apply text-sm text-darkest-grey;
	line-height: 1.38;
	font-weight: 500;
}

//-----------------------------------------
// Search Form
//-----------------------------------------
.search-form {
	@apply mt-12;

	.search-field {
		@apply bg-black bg-opacity-10 text-black p-16 rounded-lg;
	}

	.button {
		@apply bg-black bg-opacity-25 text-black p-16 rounded-lg text-center no-underline;
	}
}

.wpcf7-not-valid {
	border: 2px solid #DC2626;
}

.wpcf7-response-output {
    @apply rounded-xl border text-sm font-medium mt-0 my-auto relative;

    &.wpcf7-validation-errors {
      border-color: #DC2626;
    }

    &.wpcf7-mail-sent-ok {
      @apply border-primary-green;
    }
  }
