//--------------------------------------------------------------
// Off-Canvas Elements and Overlays
//--------------------------------------------------------------
.off-canvas {

	&-container {
		@apply bg-dark-grey inset-y-0 h-full fixed text-white;

		overflow-y: auto;
		left: -100%;
		transition: left 0.6s ease-in-out;
		width: 75%;
		z-index: 9998;

		@screen md {
			width: 35vw;
		}

		&.is-visible {
			@apply left-0;
		}

		.admin-bar & {
			@apply pt-64;
		}
	}

	&-open {
		@apply block h-44 p-0 w-44 absolute;
		top: 14px;
		left: 14px;

		background: url(../images/icons/hamburger.svg ) center no-repeat transparent;
		background-size: 24px 24px;
		z-index: 9999;

		@screen tablet-landscape {
			display: none;
		}

		.admin-bar & {
			@apply absolute;

			top: theme('spacing.48');
		}

		&:focus,
		&:hover {
			//outline: 1px solid theme( 'colors.white' );
		}

		&.is-visible {}
	}

	&-close {
		@apply block h-44 p-0 w-44 absolute;
		top: 8px;
		left: 14px;
		background-image: url(../images/icons/close.svg );
		background-size: 22px 22px;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&-screen {
		@apply bg-black bg-opacity-25 inset-0 fixed invisible;

		z-index: 9996;

		&.is-visible {
			@apply visible;
		}
	}

	&-content {
		@apply hidden mt-68 p-24 font-hiragino-sans uppercase text-lg leading-6;

		.is-visible & {
			@apply block;
		}

		.menu-cta-button a {
			@apply font-hiragino-sans text-darkest-grey;
			font-size: 18px;
			line-height: 1;
			letter-spacing: 1px;
			text-transform: uppercase;
			margin-left: 15px;

			padding: 8px 16px 7px 16px;
			text-decoration: none;
			display: inline-block;
			@apply bg-transparent border-solid border-white text-white border;

			border-width: 3px;
			outline: none;
			transition: background-color 0.2s;

			&:hover,
			&:focus {
				@apply bg-white text-black;
			}
		}
	}
}
