.contacts-page {

	h2 {
		margin-bottom: 32px;
	}

	.col-1 {
		.page-content {
			background: transparent;
			overflow: hidden;
		}

		ul {
			padding-left: 0px;
			margin-bottom: 32px;

			li {
				margin-bottom: 8px;
				font-weight: 500;
				font-size: 18px;

				i {
					filter: invert(1);
					vertical-align: middle;
					margin-right: 5px;
					width: 20px;
				}
			}
		}

		a {
			color: white;
		}
	}

	.wpforms-container {
		margin: 0 !important;

		.wpforms-field-label {
			@apply text-white font-hiragino-sans font-light;
		}

		.wpforms-field {
			padding-top: 0;
			padding-bottom: 12px;

			input {
				width: 100%;
				max-width: 100% !important;
			}
		}

		.wpforms-submit {
			@apply font-osp-din;
			font-size: 18px;
			line-height: 1;
			letter-spacing: 1px;
			text-transform: uppercase;

			padding: 8px 16px 7px 16px;
			text-decoration: none;
			display: inline-block;
			@apply bg-transparent border-solid border-white text-white border;
			background: transparent !important;
			border-width: 3px;
			outline: none;
			transition: background-color 0.2s;

			&:hover,
			&:focus {
				background: white !important;
				@apply bg-white text-black;
			}
		}
	}

	@screen md {
		.button {
			width: auto;
			padding-left: 64px;
			padding-right: 64px;
		}
	}

	#map {
		margin-left: -46px;
		bottom: 5px;
		margin-bottom: -43px;
		width: calc(100% + 90px);
		position: relative;
		overflow: hidden;
		height: 65%;
		min-height: 150px;

		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}

.get-in-touch {
	.wpforms-container {
		margin: 0 !important;
		width: 100%;
		max-width: 400px;

		.wpforms-field-label {
			@apply text-white font-hiragino-sans font-light;
		}

		.wpforms-field {
			width: 100%;
			padding: 0;

			input {
				width: 100%;
				max-width: 100%;
			}
		}

		.wpforms-submit {
			@apply font-osp-din;
			font-size: 18px;
			line-height: 1;
			letter-spacing: 1px;
			text-transform: uppercase;

			padding: 8px 16px 7px 16px;
			text-decoration: none;
			display: inline-block;
			@apply bg-transparent border-solid border-white text-white border;
			background: transparent !important;
			border-width: 3px;
			outline: none;
			transition: background-color 0.2s;
			width: 100%;

			&:hover,
			&:focus {
				background: white !important;
				@apply bg-white text-black;
			}
		}
	}
}

.page-template-contacts {
	@apply bg-dark-grey;
}
