.contacts-page {
	div[role="form"] {
		width: 100%;

		input {
			@apply text-black;
		}

		label {
			font-weight: 400;
			font-size: 17px;
		}

		@screen md {
			label {
				font-weight: 500;
				font-size: 18px;
			}
		}


	}

	h2 {
		margin-bottom: 32px;
	}

	.col-1 {
		.page-content {
			background: linear-gradient(143.17deg, #E5EAEF 7.36%, #F9FFFF 122.25%);
			overflow: hidden;
		}

		ul {
			padding-left: 0px;
			margin-bottom: 32px;

			li {
				margin-bottom: 8px;
				font-weight: 500;
				font-size: 18px;

				i {
					filter: invert(1);
					vertical-align: middle;
					margin-right: 5px;
					width: 20px;
				}
			}
		}
	}

	.button {
		@apply font-osp-din text-darkest-grey;
		font-size: 18px;
		line-height: 1;
		letter-spacing: 1px;
		text-transform: uppercase;

		padding: 8px 16px 7px 16px;
		text-decoration: none;
		display: inline-block;
		@apply bg-transparent border-solid border-white text-white border;

		border-width: 3px;
		outline: none;
		transition: background-color 0.2s;

		&:hover,
		&:focus {
			@apply bg-white text-black;
		}
	}

	@screen md {
		.button {
			width: auto;
			padding-left: 64px;
			padding-right: 64px;
		}
	}

	#map {
		margin-left: -46px;
		bottom: 5px;
		margin-bottom: -43px;
		width: calc(100% + 90px);
		position: relative;
		overflow: hidden;
		height: 65%;
		min-height: 150px;

		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}
