body.home {

	@media screen and (max-width: 768px) {
		.page-header .bg-shadow {
			background: linear-gradient(180deg, rgba(10, 37, 52, 0.3) 0%, rgba(10, 37, 52, 0.9) 100%);
		}

		.page-header .textblock {
			top: unset;
		}

		.page-header {
			.subtitle+div {

				svg {
					width: 40px;
					height: auto;
				}
			}
		}
	}

	.blocks-grid {
		.block-item {
			@media screen and (max-width: 600px) {
				min-height: 400px;
			}
		}

		.block-content {
			top: 50%;
			transform: translateY(-50%);

			@media screen and (max-width: 600px) {
				top: unset;
				transform: none;
			}
		}
	}

	.page-content {
		overflow: hidden;
		background: #fff;
		padding-top: 0;
	}

	@screen desktop {

		.two-column-image-right {
			// padding-bottom: 120px;

		}

	}
}
