.page-template-powertrack {

	.page-header {
		+ .textblock {
			.image {
				@media screen and (min-width: 767px) {
					margin-top: 0;
				}
			}
		}
	}

	.two-columns-block {
		&.block-0 {
			border-top: 1px solid black;
		}
	}

	.page-header .bg {
		background-position: center;
	}

	@media screen and (max-width: 767px) {
		.two-column-image-right {
			padding-top: 0;

			.container {
				flex-direction: column-reverse;
			}

			.text-column {
				padding-top: 0;
				text-align: left;
			}

		}
	}
}
