//----------------------------------------
// Gutenberg Block Styles
//
// Import Core and custom Gutenberg block partials.
//----------------------------------------

// Core Gutenberg Blocks.
@import '_two-columns.scss';
@import '_software.scss';
@import '_get_in_touch.scss';

.partners-scroll-container {
	.partner-item {
		.partner-logo {
			height: 60px;

			@screen desktop {
				height: 76px;
			}
		}
	}
}

.product-comparison-block {
	.header-image {
		height: 100%;
		max-height: 100px;
		width: auto;

		@media screen and (max-width: 768px) {
			height: 100%;
			max-height: 80px;
			width: auto;
		}

		img {
			height: 100%;
			width: auto;
		}
	}
}

// Case studies
.case-studies-block-alt {
	border-bottom: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	@screen desktop {
		display: block;
	}

	.case-study-item {
		width: 50%;
		border-top: 0;

		@screen desktop {
			width: 100%;
		}

		&:first-of-type {
			@screen desktop {
				border-bottom: 1px solid black;
			}
		}

		.case-study-card {
			border-left: 1px solid black;
			margin-bottom: 0;

			.border-white {
				border-top: 0;
			}

			a {
				display: flex;
				flex-direction: column;
				width: 100%;

				@screen desktop {
					flex-direction: row-reverse;
				}
			}

			.study-excerpt {
				display: none;

				@screen md {
					display: block;
				}
			}

			.case-study-thumbnail {
				margin-bottom: 0;

				@screen desktop {
					min-width: 50%;
					width: 50%;
				}

				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}

			.card-content {
				flex: 1 auto;
				align-items: flex-start;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				padding: 32px;

				>* {
					color: black;
				}
			}
		}
	}
}

// Grid with logos
.image-grid-with-logos {
	.block-logo {
		height: 56px;

		img {
			height: 100%;
			width: auto;
		}
	}

	.block-image {
		height: 132px;

		img {
			height: 100%;
			width: auto;
		}
	}

	.block-item {
		&+.block-item {
			border-left: 1px solid black;
		}
	}
}

// Image grid with text

.blocks-grid {
	.block-image {
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			background: linear-gradient(180deg, rgba(46, 45, 45, 0.00) 9.73%, rgba(1, 1, 1, 0.59) 62.54%);
		}
	}
}


.case-studies-scroll-container {
	// Hide scrollbar but maintain scroll functionality
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* IE and Edge */

	&::-webkit-scrollbar {
		display: none;
		/* Chrome, Safari, Opera */
	}

	@media screen and (max-width: 767px) {

		// Add some right padding to show a portion of the next card
		.case-studies-grid {
			padding-right: 75%; // This shows approximately 0.75 of a card offscreen
		}

		// Set a consistent width for cards on mobile
		.case-study-card {
			min-width: 85vw; // Adjust this value to control card width
			max-width: 85vw;

			// Optional - add a subtle hint of more content with a fade
			&:last-child::after {
				content: "";
				position: absolute;
				top: 0;
				right: -20px;
				width: 20px;
				height: 100%;
				background: linear-gradient(to right, rgba(34, 34, 34, 0), rgba(34, 34, 34, 0.3));
			}
		}
	}
}


// Sliders

.embla {
	margin: auto;
	--slide-height: 19rem;
	--slide-spacing: 1rem;
	--slide-size: 100%;
}

.embla__viewport {
	overflow: hidden;
}

.embla__container {
	display: flex;
	touch-action: pan-y pinch-zoom;
	gap: 24px;
}

.embla__container .embla__slide {
	transform: translate3d(0, 0, 0);
	flex: 0 0 var(--slide-size);
	min-width: 150px;
	//padding-left: var(--slide-spacing);
	width: 100;
	max-width: 65%;

	@screen md {
		max-width: 45%;
	}

	@screen desktop {
		max-width: 28%;
	}

	&:first-of-type {
		//padding-left: 24px;
	}
}
